<li class="menu__item">
	<button type="button" id="button-add-media" class="menu__button">
		<img class="menu__icon" src="{{icon}}" alt="menu-icon">
		<span class="menu__text">{{text}}</span>
	</button>
</li>
