<form>
  <h1>Вход</h1>
  <fieldset>
    <label>
      <span>Логин</span>
      <input type="text">
    </label>
    <label>
      <span>Пароль</span>
      <input type="password">
    </label>
  </fieldset>
  <div>
    <button type="submit">Авторизоваться</button>
    <a href="/sign-in">Нет аккаунта?</a>
  </div>
</form>