<main class="auth app__auth">
  <form name="login" class="auth-form">
    <h1 class="auth-form__title">Вход</h1>
    <fieldset class="auth-form__fields">
      <label class="auth-form__field">
        <span class="auth-form__label">Логин</span>
        <input class="auth-form__input" name="login" type="text">
      </label>
      <label class="auth-form__field">
        <span class="auth-form__label">Пароль</span>
        <input class="auth-form__input" name="password" type="password">
      </label>
    </fieldset>
    <div class="auth-form__actions">
      {{> Button type="submit" text="Войти"}}
      {{> Link href="/sign-up" class="auth-form__link" page="/sing-up" text="Нет аккаунта?"}}
    </div>
  </form>
</main>