<form>
  <h1>Регистрация</h1>
  <fieldset>
    <label>
      <span>Почта</span>
      <input type="email">
    </label>
    <label>
      <span>Логин</span>
      <input type="text">
    </label>
    <label>
      <span>Имя</span>
      <input type="text">
    </label>
    <label>
      <span>Фамилия</span>
      <input type="text">
    </label>
    <label>
      <span>Телефон</span>
      <input type="tel">
    </label>
    <label>
      <span>Пароль</span>
      <input type="password">
    </label>
    <label>
      <span>Пароль (ещё раз)</span>
      <input type="password">
    </label>
  </fieldset>
  <div>
    <button type="submit">Зарегистрироваться</button>
    <a href="/sign-in">Войти</a>
  </div>
</form>