<div class="side-bar">
  <button class="side-bar__button" type="button"></button>
</div>
<div class="profile">
  <img src="" class="profile__avatar" alt="avatar">
  <h2 class="profile__name">Иван</h2>
  <form name="profile" class="profile__form">
    <fieldset class="profile__fields">
      <label class="profile__field">
        <span class="profile__label">Почта</span>
        <input class="profile__input" name="email" type="email">
      </label>
      <label class="profile__field">
        <span class="profile__label">Логин</span>
        <input class="profile__input" name="login" type="text">
      </label>
      <label class="profile__field">
        <span class="profile__label">Имя</span>
        <input class="profile__input" name="name" type="text">
      </label>
      <label class="profile__field">
        <span class="profile__label">Фамилия</span>
        <input class="profile__input" name="last-name" type="text">
      </label>
      <label class="profile__field">
        <span class="profile__label">Имя в чате</span>
        <input class="profile__input" name="nickname" type="text">
      </label>
      <label class="profile__field">
        <span class="profile__label">Телефон</span>
        <input class="profile__input" name="tel" type="tel">
      </label>
    </fieldset>
    <div class="profile__actions">
      <button class="profile__button" type="button">Изменить данные</button>
      <button class="profile__button" type="button">Изменить пароль</button>
      <button class="profile__button" type="button">Выйти</button>
    </div>
  </form>
</div>