<div>
  <button type="button"></button>
</div>
<div>
  <img src="" alt="avatar">
  <h2>Иван</h2>
  <form>
    <fieldset>
      <label>
        <span>Почта</span>
        <input type="email">
      </label>
      <label>
        <span>Логин</span>
        <input type="text">
      </label>
      <label>
        <span>Имя</span>
        <input type="text">
      </label>
      <label>
        <span>Фамилия</span>
        <input type="text">
      </label>
      <label>
        <span>Имя в чате</span>
        <input type="text">
      </label>
      <label>
        <span>Телефон</span>
        <input type="tel">
      </label>
    </fieldset>
    <div>
      <button type="button">Изменить данные</button>
      <button type="button">Изменить пароль</button>
      <button type="button">Выйти</button>
    </div>
  </form>
</div>