<li class="chat-preview">
        <img class="chat-preview__avatar" src="/src/images/default-avatar.png" alt="avatar">
        <div class="chat-preview__content">
          <div class="chat-preview__head">
            <h4 class="chat-preview__name">Андрей</h4>
            <p class="chat-preview__time">10:49</p>
          </div>
          <div class="chat-preview__info">
            <p class="chat-preview__last-message">Изображение</p>
            <p class="chat-preview__unread">2</p>
          </div>
        </div>
      </li>