<form name="login" class="auth-form" novalidate>
	<h1 class="auth-form__title">Вход</h1>
	<fieldset class="auth-form__fields">
		{{{Fields}}}
	</fieldset>
	<div class="auth-form__actions">
		{{{Button}}}
		{{{Link}}}
	</div>
</form>
