<form class="messanger__search-form" name="search">
	<label class="messanger__search-label">
        <span class="messanger__search-placeholder">
          <img src="/search-icon.svg" class="messanger__search-icon" alt="search">
          <span class="messanger__search-text">Поиск</span>
        </span>
		{{{SearchInput}}}
	</label>
</form>
