<div class="messanger">
  <div class="messanger__sidebar">
    <a class="messager__link" href="/profile">Профиль</a>
    <form class="messander__search-form" name="search">
      <input class="messanger__search-input" name="search" placeholder="Поиск" type="text">
    </form>
    <ul class="messanger__chats">
      <li>
        <img src="" alt="avatar">
        <div>
          <h4>Андрей</h4>
          <p>Изображение</p>
        </div>
        <div>
          <p>10:49</p>
          <p>2</p>
        </div>
      </li>
    </ul>
  </div>
  <div>
    <p>Выберите чат чтобы отправить сообщение</p>
  </div>
</div>