<div>
  <div>
    <a href="/profile">Профиль</a>
    <form>
      <input placeholder="Поиск" type="text">
    </form>
    <ul>
      <li>
        <img src="" alt="avatar">
        <div>
          <h4>Андрей</h4>
          <p>Изображение</p>
        </div>
        <div>
          <p>10:49</p>
          <p>2</p>
        </div>
      </li>
    </ul>
  </div>
  <div>
    <p>Выберите чат чтобы отправить сообщение</p>
  </div>
</div>