.messanger {
	flex: 1;
	display: grid;
	grid-template-columns: 310px 1fr;

	&__side-bar {
		padding: 21px 10px 0;
		box-sizing: border-box;
		max-height: 100vh;
	}

	&__profile-link {
		text-decoration: none;
		color: var(--secondary-color);
		font-family: var(--main-font);
		font-weight: 500;
		font-size: 12px;
		line-height: 12px;
		margin-left: auto;
		margin-bottom: 23px;
		display: flex;
		align-items: center;
		gap: 8px;

		&::after {
			content: '';
			background-image: url('/chevron.svg');
			display: block;
			width: 6px;
			height: 10px;
			background-size: contain;
			background-position: center;
		}
	}

	&__search-form {
		margin-bottom: 14px;
	}

	&__search-text {
		display: none;
	}

	&__search-label {
		position: relative;
		display: flex;
		gap: 10px;
		padding: 10px;
		background-color: var(--tetriary-color);
		font-family: var(--main-font);
		font-weight: 500;
		font-size: 12px;
		line-height: 20px;
		border-radius: 5px;
		align-items: center;

		&:focus-visible {
			outline: none;
		}

		&:has(.messanger__search-input:placeholder-shown:not(:focus-visible)) {
			justify-content: center;

			.messanger__search-text {
				display: block;
			}
		}
	}

	&__search-placeholder {
		display: flex;
		align-items: center;
		gap: 6px;
		color: var(--secondary-color);
	}

	&__search-input {
		border: none;
		width: 100%;
		box-sizing: border-box;
		background-color: transparent;
		font-family: inherit;
		font-weight: inherit;
		font-size: inherit;
		line-height: inherit;
		padding: 0;

		&:placeholder-shown {
			position: absolute;
		}

		&:focus-visible {
			outline: none;
			position: static;
		}
	}

	&__chats {
		list-style: none;
		margin: 0;
		padding: 0;
		flex: 1;
		max-height: 100%;
		overflow: auto;
		overflow: -moz-scrollbars-none;
		scrollbar-width: none;
		-ms-overflow-style: none;
	}

	&__chat-window {
		height: 100%;
		max-height: 100vh;
	}
}

.chat-window {
	display: flex;
	flex-direction: column;
	padding: 0 20px;

	&__menu {
		margin: 0;
		position: absolute;
		z-index: 5;

		&_form {
			translate: 0 calc(-100% - 10px);
			left: 0;
			top: 0;
		}

		&_header {
			translate: 0 calc(100% + 10px);
			right: 0;
			bottom: 0;
		}
	}

	&__default-message {
		margin: auto;
		text-align: center;
		font-family: var(--main-font);
		font-weight: 500;
		font-size: 12px;
		line-height: 12px;
		color: var(--secondary-color);
	}

	&__header {
		display: flex;
		gap: 10px;
		align-items: center;
		padding: 10px 0;
		position: relative;
	}

	&__avatar {
		border-radius: 50%;
		width: 34px;
		aspect-ratio: 1/1;
	}

	&__name {
		margin: 0;
		font-family: var(--main-font);
		font-weight: 600;
		font-size: 13px;
		line-height: 13px;
	}

	&__options-button {
		margin-left: auto;
		background-image: url('/options-icon.svg');
		width: 3px;
		height: 15px;
		padding: 0;
		border: none;
		background-size: contain;
	}

	&__chat {
		flex: 1;
		border-top: 1px solid var(--border-color);
		border-bottom: 1px solid var(--border-color);
		padding: 30px 0;
		max-height: 100%;
		overflow: auto;
		overflow: -moz-scrollbars-none;
		scrollbar-width: none;
		-ms-overflow-style: none;
	}

	&__form {
		padding: 10px 0;
		display: flex;
		gap: 10px;
		align-items: stretch;
		position: relative;
	}

	&__file-button {
		background-image: url('/file-icon.svg');
		aspect-ratio: 1/1;
		width: 32px;
		background-size: contain;
		padding: 0;
		border: none;
		background-color: transparent;
	}

	&__message-input {
		flex: 1;
		border: none;
		background-color: var(--tetriary-color);
		border-radius: 30px;
		padding: 0 20px;
		font-family: var(--main-font);
		font-weight: 500;
		font-size: 12px;
		line-height: 12px;
		color: var(--primary-color);

		&:focus-visible {
			outline: none;
		}

		&::placeholder {
			color: var(--secondary-color);
		}
	}

	&__submit {
		border-radius: 50%;
		aspect-ratio: 1/1;
		width: 32px;
		background-color: var(--accent-color);
		padding: 0;
		border: none;
		background-image: url('/arrow.svg');
		rotate: 180deg;
		background-position: center center;
		background-size: 16px 14px;
		background-repeat: no-repeat;
	}
}

.chat {
	display: flex;
	flex-direction: column;
	gap: 30px;

	&__block {
		display: flex;
		flex-direction: column;
		gap: 10px;
		max-width: 45%;

		&_source {
			&_incoming {
				margin-right: auto;
				align-items: flex-start;
			}

			&_outgoing {
				align-items: flex-end;
				margin-left: auto;
			}
		}
	}

	&__message {
		margin: 0;
	}

	&__date {
		font-family: var(--main-font);
		font-weight: 500;
		font-size: 12px;
		line-height: 12px;
		text-align: center;
		color: var(--secondary-color);
		margin: 0;
	}
}

.menu {
	list-style: none;
	background-color: var(--globe-color);
	border-radius: 12px;
	box-shadow: 0 0 6px 0 #00000024;
	padding: 15px;
	flex-direction: column;
	gap: 16px;
	display: none;
	visibility: hidden;

	&_open {
		display: flex;
		visibility: visible;
	}

	&__button {
		background-color: transparent;
		border: none;
		display: flex;
		align-items: center;
		gap: 15px;
	}

	&__icon {
		width: 22px;
		height: 22px;
		object-fit: contain;
	}

	&__text {
		font-family: var(--main-font);
		font-weight: 500;
		font-size: 12px;
		line-height: 14px;
		color: var(--primary-color);
	}
}
