<form name="register" class="auth-form" novalidate>
	<h1 class="auth-form__title">Регистрация</h1>
	<fieldset class="auth-form__fields">
		{{{Fields}}}
	</fieldset>
	<div class="auth-form__actions">
		{{{Button}}}
		{{{Link}}}
	</div>
	{{{FormErrorMessage}}}
</form>
