.body {
  margin: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__error {
    margin: auto;
  }

  &__auth {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.side-bar {
  height: 100%;
  background-color: #FBFBFB;
  border-right: 1px solid #EAEAEA;
  display: flex;
  flex-direction: column;

  &__back-button {
    margin: auto;
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 28px;
    background-color: #3369F3;
    background-image: url(./images/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 11px 10px;
    padding: 0;
  }
}